/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap"); */

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  transition: all 0.3s ease-in-out;
  /* background-color: #fff; */
  /* font-family: "Poppins"; */
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #04b70a !important;
  opacity: 1 !important;
}
