@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  transition: all 0.3s ease-in-out;
  background-color: #f8f8f8;
  font-family: "Poppins";
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #04b70a !important;
  opacity: 1 !important;
}
